CONFIG_ETH_ENABLED=n
CONFIG_ETH_USE_SPI_ETHERNET=n

#
# SPI RAM config
#
CONFIG_ESP32_SPIRAM_SUPPORT=y

CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SIZE=-1
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y

CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_CACHE_WORKAROUND=y


# ESP32-CAMERA
CONFIG_OV2640_SUPPORT=y